*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Gradle ###
/bin/
/*/bin/
/.gradle/
**/build/
/.nb-gradle/

# Ignore Gradle GUI config
gradle-app.setting

### Eclipse ###
.classpath
.project
.settings/*

**/target/
**/*.log
**/nbactions.xml

### Local Config - May contain passwords ###
config/application.properties

