*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Gradle ###
/bin/
/*/bin/
.gradle/
**/build/
.nb-gradle/
## make sure the gradle wrapper is checked in though
!gradle/wrapper/gradle-wrapper.jar

# Ignore Gradle GUI config
gradle-app.setting

### Eclipse ###
.classpath
.project
.settings/*

**/target/
**/*.log
**/nbactions.xml

## OSX ##
**/.DS_Store
